{% extends 'website/base.html' %}

{% block content %}
    <h1>SupplyProphet 🎆</h1>
    <h5><i>A solução definitiva para previsão de demanda no varejo</i></h5><br>
    <h3>Como funciona o SupplyProphet?</h3>
    <p>O SupplyProphet é uma aplicação inovadora projetada para ajudar varejistas a prever a demanda com precisão utilizando modelos estatísticos avançados. Escolha entre uma variedade de métodos de previsão, faça upload de seus dados e obtenha insights valiosos sobre a demanda futura de seus produtos.</p>
        
    <h3> Principais Características:</h3>
        <ul>
            <li> <b>Métodos de Previsão Avançados:</b> ARIMA, SARIMA, ARMAX, Prophet e mais.</li>
            <li>  <b>Importação de Dados Simples:</b> Carregue seus arquivos e inicie a análise de forma rápida.</li>
            <li> <b>Visualizações Interativas:</b> Veja gráficos de tendências e previsões detalhadas.</li>
            <li> <b>Controle de Estoque Eficiente:</b> Acompanhe e gerencie o estoque de seus produtos com facilidade.</li>
        </ul>
    <h3>Veja um exemplo de previsão</h3>
    <p>Abaixo está um exemplo de como a previsão de demanda pode ser visualizada. Escolha um método de previsão e faça o upload de um arquivo para ver como o SupplyProphet pode ajudá-lo a planejar melhor seu estoque.</p>
    <h3>Exemplo de gráfico de previsão</h3>
        <img src="data:image/png;base64,{{ graphic }}" alt="Gráfico de Previsão">
{% endblock %}
