{% extends 'website/base.html' %}
{% block content %}
    <div class="container mt-5">
        <h2 class="tOther text-center">Cadastro</h2>
        {% if error %}
            <p class="text-danger text-center">{{ error }}</p>
        {% endif %}
        <form method="POST" action="{% url 'register' %}" class="register_form">
            {% csrf_token %}
            <div class="form-group">
                <label for="email" class="credenciais">Email:</label>
                <input type="email" id="email" name="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password" class="credenciais">Senha:</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
        </form>
    </div>
{% endblock %}