/* Reduzido para aproveitar as classes do Bootstrap */
.login_form, .register_form, .contact_form, .predict_form {
    background-color: #f9f9f943;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 3rem auto;
    /* max-width: 500px; Limita a largura do formulário */
}

.credenciais {
    font-family: "Chakra Petch", sans-serif;
}