/* BODY */
body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, sans-serif;
    background-color: #262326 !important;
}

/* NAVEGAÇÃO */
nav {
    background-color: #808080;
    padding: 15px;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #35342F;
    border-radius: 8px;
}

/* CONTEÚDO */
.content {
    padding: 5% 27%;
    color: white;
}

/* CABEÇALHO */
h1, h2, h3 {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1.5px;
    /* color: white; */
}

h1 {
    font-size: 4em;
}
h2 {
    font-size: 3em;
}
h3 {
    font-size: 2em;
}
